# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Directory with test files
Tests/

# Project 1 executable
project1

# Supplied allocate library
MAX_MEMORY_USED
